ICP-5/Source/ICP5.json
[{"id":"8af6c1df.b523c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8b283043.06433","type":"inject","z":"8af6c1df.b523c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["24ef6c26.12cbc4"]]},{"id":"24ef6c26.12cbc4","type":"openweathermap","z":"8af6c1df.b523c","name":"","wtype":"current","lon":"","lat":"","city":"Kansas city","country":"United States","language":"en","x":170,"y":140,"wires":[["9c54656e.73ad88"]]},{"id":"3630311a.a5fa4e","type":"e-mail","z":"8af6c1df.b523c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"lsfhouse@gmail.com","dname":"Hello","x":550,"y":240,"wires":[]},{"id":"9c54656e.73ad88","type":"function","z":"8af6c1df.b523c","name":"Weather to string","func":"\nvar weather = msg.payload.description;\nmsg.payload = weather;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["28281352.8d47bc","3630311a.a5fa4e","7e2a3ee6.6f382"]]},{"id":"28281352.8d47bc","type":"debug","z":"8af6c1df.b523c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":160,"wires":[]},{"id":"7e2a3ee6.6f382","type":"twitter out","z":"8af6c1df.b523c","twitter":"","name":"Tweet","x":550,"y":300,"wires":[]}]