ICP-5/Source/ICP5.txt
[{"id":"a91bc394.d6805","type":"tab","label":"ICP 5","disabled":false,"info":""},{"id":"ac6db9bf.779418","type":"inject","z":"a91bc394.d6805","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["53476e59.cdedf"]]},{"id":"53476e59.cdedf","type":"openweathermap","z":"a91bc394.d6805","name":"","wtype":"current","lon":"","lat":"","city":"Kansas city","country":"United States","language":"en","x":170,"y":140,"wires":[["27a88567.1dc6ea","b2ba15b8.e82c48"]]},{"id":"539f2642.aea688","type":"e-mail","z":"a91bc394.d6805","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"lsfhouse@gmail.com","dname":"Hello","x":550,"y":240,"wires":[]},{"id":"b2ba15b8.e82c48","type":"function","z":"a91bc394.d6805","name":"Weather to string","func":"\nvar weather = msg.payload.description;\nmsg.payload = weather;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["7cd1c13c.6c333","539f2642.aea688","9febd0a3.60da4"]]},{"id":"7cd1c13c.6c333","type":"debug","z":"a91bc394.d6805","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":160,"wires":[]},{"id":"9febd0a3.60da4","type":"twitter out","z":"a91bc394.d6805","twitter":"","name":"Tweet","x":550,"y":300,"wires":[]},{"id":"27a88567.1dc6ea","type":"debug","z":"a91bc394.d6805","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":40,"wires":[]}]