ICP-6/Source/ICP-6.json
[{"id":"96e8cd9a.3ac94","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"7dada135.82cda","type":"inject","z":"96e8cd9a.3ac94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":191,"wires":[["1200dd5.c909723"]]},{"id":"1200dd5.c909723","type":"function","z":"96e8cd9a.3ac94","name":"RandomNumberGenerator","func":"var num = Math.floor((Math.random() * 100) + 1);\nmsg.payload =num;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":51,"wires":[["a89993a8.7f688","3bd98550.f8187a"]]},{"id":"a89993a8.7f688","type":"switch","z":"96e8cd9a.3ac94","name":"SwitchNodeDemo","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"49","vt":"num"},{"t":"eq","v":"50","vt":"num"},{"t":"gte","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":191,"wires":[["4452fb8.2f73704"],["842647ee.c89678"],["fc4870f8.5a68f"]]},{"id":"4452fb8.2f73704","type":"debug","z":"96e8cd9a.3ac94","name":"Line1forlessthan49","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":131,"wires":[]},{"id":"842647ee.c89678","type":"debug","z":"96e8cd9a.3ac94","name":"Line2for50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":191,"wires":[]},{"id":"fc4870f8.5a68f","type":"debug","z":"96e8cd9a.3ac94","name":"Line3forGreaterThan","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":251,"wires":[]},{"id":"4cdbd1e3.dcbd3","type":"inject","z":"96e8cd9a.3ac94","name":"Hello","topic":"","payload":"{\"Hello\":\"Node-RED\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":413,"wires":[["37f9267e.b0a01a","36aa3fbb.8fd8e"]]},{"id":"37f9267e.b0a01a","type":"change","z":"96e8cd9a.3ac94","name":"AddNotePreperty","rules":[{"t":"set","p":"payload.note","pt":"msg","to":"This is not being analyzed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":453,"wires":[["4628ee7a.ce2"]]},{"id":"4628ee7a.ce2","type":"debug","z":"96e8cd9a.3ac94","name":"AfterChange","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":453,"wires":[]},{"id":"d40235a5.d3fcf8","type":"range","z":"96e8cd9a.3ac94","minin":"0","maxin":"1023","minout":"0","maxout":"5","action":"scale","round":true,"property":"payload","name":"","x":310,"y":702,"wires":[["1c2a6bf0.e5a6a4"]]},{"id":"f5f7edc9.c8b28","type":"inject","z":"96e8cd9a.3ac94","name":"","topic":"","payload":"300","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":642,"wires":[["d40235a5.d3fcf8"]]},{"id":"8967b551.9b9438","type":"inject","z":"96e8cd9a.3ac94","name":"","topic":"","payload":"512","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":702,"wires":[["d40235a5.d3fcf8"]]},{"id":"6d4d4424.4cf85c","type":"inject","z":"96e8cd9a.3ac94","name":"","topic":"","payload":"1023","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":762,"wires":[["d40235a5.d3fcf8"]]},{"id":"1c2a6bf0.e5a6a4","type":"debug","z":"96e8cd9a.3ac94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":702,"wires":[]},{"id":"c02e7873.b16c28","type":"http in","z":"96e8cd9a.3ac94","name":"","url":"/hello-headers","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1000,"wires":[["f9d60bc7.c51828"]]},{"id":"f9d60bc7.c51828","type":"template","z":"96e8cd9a.3ac94","name":"HelloWorldPage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <h1 align=\"center\">Hello World</h1>\n <h1 align=\"center\">The first page from node-red</h1>","output":"str","x":360,"y":1000,"wires":[["ca5449e7.8df8d8"]]},{"id":"ca5449e7.8df8d8","type":"http response","z":"96e8cd9a.3ac94","name":"","statusCode":"200","headers":{},"x":550,"y":1000,"wires":[]},{"id":"a92035c8.4b7798","type":"mqtt in","z":"96e8cd9a.3ac94","name":"","topic":"noderedlecture/sensortest","qos":"0","datatype":"auto","broker":"b7921431.4b0b98","x":170,"y":1400,"wires":[["3750288d.618a28"]]},{"id":"3750288d.618a28","type":"json","z":"96e8cd9a.3ac94","name":"","property":"payload","action":"","pretty":false,"x":370,"y":1400,"wires":[["990eee0f.6469f"]]},{"id":"990eee0f.6469f","type":"debug","z":"96e8cd9a.3ac94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":1400,"wires":[]},{"id":"3bd98550.f8187a","type":"debug","z":"96e8cd9a.3ac94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":51,"wires":[]},{"id":"36aa3fbb.8fd8e","type":"debug","z":"96e8cd9a.3ac94","name":"BeforeChange","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":393,"wires":[]},{"id":"b7921431.4b0b98","type":"mqtt-broker","z":"","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"noderedlecture/sensortest","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]