ICP-6/Source/ICP6.txt
[{"id":"4d0fa9b.a85cb58","type":"tab","label":"ICP 6","disabled":false,"info":""},{"id":"e1f01180.f9795","type":"inject","z":"4d0fa9b.a85cb58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":191,"wires":[["bd058f23.36aa3"]]},{"id":"bd058f23.36aa3","type":"function","z":"4d0fa9b.a85cb58","name":"RandomNumberGenerator","func":"var num = Math.floor((Math.random() * 100) + 1);\nmsg.payload =num;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":51,"wires":[["8bdb5fae.d2035","ed004525.f62c98"]]},{"id":"8bdb5fae.d2035","type":"switch","z":"4d0fa9b.a85cb58","name":"SwitchNodeDemo","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"49","vt":"num"},{"t":"eq","v":"50","vt":"num"},{"t":"gte","v":"51","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":191,"wires":[["5618e8c2.362d18"],["c7c5ee34.44a96"],["6abd6df7.558a44"]]},{"id":"5618e8c2.362d18","type":"debug","z":"4d0fa9b.a85cb58","name":"Line1forlessthan49","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":131,"wires":[]},{"id":"c7c5ee34.44a96","type":"debug","z":"4d0fa9b.a85cb58","name":"Line2for50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":191,"wires":[]},{"id":"6abd6df7.558a44","type":"debug","z":"4d0fa9b.a85cb58","name":"Line3forGreaterThan","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":251,"wires":[]},{"id":"78f8b5ab.87c8dc","type":"inject","z":"4d0fa9b.a85cb58","name":"Hello","topic":"","payload":"{\"Hello\":\"Node-RED\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":361,"wires":[["53321c83.9c69a4","a193408a.bc92d"]]},{"id":"53321c83.9c69a4","type":"change","z":"4d0fa9b.a85cb58","name":"AddNotePreperty","rules":[{"t":"set","p":"payload.note","pt":"msg","to":"This is not being analyzed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":401,"wires":[["1614e47c.a69c5c"]]},{"id":"1614e47c.a69c5c","type":"debug","z":"4d0fa9b.a85cb58","name":"AfterChange","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":401,"wires":[]},{"id":"6238484e.daebf8","type":"range","z":"4d0fa9b.a85cb58","minin":"0","maxin":"1023","minout":"0","maxout":"5","action":"scale","round":true,"property":"payload","name":"","x":310,"y":680,"wires":[["7cbd6bb5.498924"]]},{"id":"c4dddb62.1dbcd8","type":"inject","z":"4d0fa9b.a85cb58","name":"","topic":"","payload":"300","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":642,"wires":[["6238484e.daebf8"]]},{"id":"1a707f7a.110da1","type":"inject","z":"4d0fa9b.a85cb58","name":"","topic":"","payload":"512","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":702,"wires":[["6238484e.daebf8"]]},{"id":"bcae64c4.4ab0a8","type":"inject","z":"4d0fa9b.a85cb58","name":"","topic":"","payload":"1023","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":762,"wires":[["6238484e.daebf8"]]},{"id":"7cbd6bb5.498924","type":"debug","z":"4d0fa9b.a85cb58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":702,"wires":[]},{"id":"61e49744.8e0ba8","type":"http in","z":"4d0fa9b.a85cb58","name":"","url":"/hello-headers","method":"get","upload":false,"swaggerDoc":"","x":130,"y":827,"wires":[["8bac6b2e.5f8668"]]},{"id":"8bac6b2e.5f8668","type":"template","z":"4d0fa9b.a85cb58","name":"HelloWorldPage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <h1 align=\"center\">Hello World</h1>\n <h1 align=\"center\">The first page from node-red</h1>","output":"str","x":360,"y":827,"wires":[["5c547f6c.dd978"]]},{"id":"5c547f6c.dd978","type":"http response","z":"4d0fa9b.a85cb58","name":"","statusCode":"200","headers":{},"x":550,"y":827,"wires":[]},{"id":"1e2d7594.8be6fa","type":"mqtt in","z":"4d0fa9b.a85cb58","name":"","topic":"noderedlecture/sensortest","qos":"0","datatype":"auto","broker":"9d89373b.7813b8","x":146,"y":908,"wires":[["764d8868.f2f9c8"]]},{"id":"764d8868.f2f9c8","type":"json","z":"4d0fa9b.a85cb58","name":"","property":"payload","action":"","pretty":false,"x":346,"y":908,"wires":[["9bc64c4.af9dbb"]]},{"id":"9bc64c4.af9dbb","type":"debug","z":"4d0fa9b.a85cb58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":526,"y":908,"wires":[]},{"id":"ed004525.f62c98","type":"debug","z":"4d0fa9b.a85cb58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":51,"wires":[]},{"id":"a193408a.bc92d","type":"debug","z":"4d0fa9b.a85cb58","name":"BeforeChange","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":341,"wires":[]},{"id":"9d89373b.7813b8","type":"mqtt-broker","z":"","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"noderedlecture/sensortest","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]