ICP-7/Source/icp-7.json
[{"id":"7de5f1ab.839e9","type":"tab","label":"ICP 7","disabled":false,"info":""},{"id":"3edfcd5e.459802","type":"inject","z":"7de5f1ab.839e9","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"5","x":150,"y":65,"wires":[["ed6fe3.36db602"]]},{"id":"ed6fe3.36db602","type":"function","z":"7de5f1ab.839e9","name":"","func":"// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || false;\nvar date = new Date(msg.payload);\nvar sec = date.getSeconds();\n\n// set the payload to the level and return\nmsg.payload = context.level;\n//return msg;\n//return [msg, null, null];\nif(sec%3 == 0){return [msg, null, null];}\nelse if(sec%3 ==1){return [null, msg, null];}\nelse{return [null, null, msg];}\n\n\n\n","outputs":3,"noerr":0,"x":310,"y":65,"wires":[[],[],[]]},{"id":"ddab5d51.cba39","type":"inject","z":"7de5f1ab.839e9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108,"y":383,"wires":[["29afc380.0cff7c"]]},{"id":"29afc380.0cff7c","type":"openweathermap","z":"7de5f1ab.839e9","name":"","wtype":"current","lon":"","lat":"","city":"Kansas city","country":"United States","language":"en","x":296,"y":383,"wires":[["fabf10b5.20812"]]},{"id":"8f2f0bcd.241588","type":"debug","z":"7de5f1ab.839e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":748,"y":383,"wires":[]},{"id":"fabf10b5.20812","type":"lower-case","z":"7de5f1ab.839e9","name":"celsius-to-fahrenheit","x":529,"y":383,"wires":[["8f2f0bcd.241588"]]},{"id":"b4d7dca6.b3a","type":"inject","z":"7de5f1ab.839e9","name":"0.5s tick","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":115,"y":520,"wires":[["e0f0ecc5.35eda"]]},{"id":"2075b4b3.cbd61c","type":"arduino out","z":"7de5f1ab.839e9","name":"Yellow","pin":"8","state":"OUTPUT","arduino":"38241610.d5f55a","x":785,"y":520,"wires":[]},{"id":"452919a3.d14eb8","type":"function","z":"7de5f1ab.839e9","name":"Toggle output on input","func":"if(msg.payload){\n    context.set('level',0);\n    return [\n        {payload: false},\n        {payload: false},\n        {payload: false}\n        ];\n}\ncontext.set('level',(context.get('level') || 0)+1);\nif(context.get('level')>3){\n    context.set('level',1);\n}\nconst currentlevel = context.get('level');\nreturn[\n    {payload: currentlevel==1},\n    {payload: currentlevel==2},\n    {payload: currentlevel==3}\n    ];\n// var five = context.global.jfive;\n// var color = context.get('led') || \"Red\";\n\n// if(color == \"Red\"){\n//     var led = new five.Led(13);\n// led.blink(500);\n// }\n// else if(color == \"Yellow\"){\n//      context.set('led',\"Green\")\n//     var led = new five.Led(8);\n// led.blink(500);\n// }\n// else{\n//      var led = new five.Led(2);\n// led.blink(500);\n//     context.set('led',\"Red\")\n//     context.level = !context.level || false;\n// }\n\n// var led = new five.Led(13);\n// led.blink(500);\n\n\n// // var color = context.get('led') || \"Red\";\n// // var off = msg.payload;\n// // console.log(color);\n\n// // // set the payload to the level and return\n\n// // if(off == \"Off\"){\n// //   context.level = false;\n// //   msg.led=\" \";\n// // }\n// // else{\n// // msg.led = color;\n// // if(color == \"Red\"){\n// //     context.set('led',\"Yellow\")\n// //     context.level = !context.level || false;\n// // }\n// // else if(color == \"Yellow\"){\n// //     context.set('led',\"Green\")\n// //     context.level = !context.level || false;\n// // }\n// // else{\n// //     context.set('led',\"Red\")\n// //     context.level = !context.level || false;\n// // }\n// // }\n// msg.payload = context.level;\n// return msg;","outputs":3,"noerr":0,"x":495,"y":520,"wires":[["f42f0922.f2fe08"],["2075b4b3.cbd61c"],["7654cb8f.2eb294"]]},{"id":"f42f0922.f2fe08","type":"arduino out","z":"7de5f1ab.839e9","name":"Red","pin":"13","state":"OUTPUT","arduino":"38241610.d5f55a","x":785,"y":460,"wires":[]},{"id":"7654cb8f.2eb294","type":"arduino out","z":"7de5f1ab.839e9","name":"Green","pin":"2","state":"OUTPUT","arduino":"38241610.d5f55a","x":785,"y":580,"wires":[]},{"id":"e0f0ecc5.35eda","type":"ui_switch","z":"7de5f1ab.839e9","name":"","label":"switch","tooltip":"","group":"804176a6.26bfa8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":285,"y":520,"wires":[["452919a3.d14eb8"]]},{"id":"38241610.d5f55a","type":"arduino-board","z":"","device":"COM3"},{"id":"804176a6.26bfa8","type":"ui_group","z":"","name":"ICP 5","tab":"b00614c7.566ba8","disp":true,"width":"6","collapse":false},{"id":"b00614c7.566ba8","type":"ui_tab","z":"","name":"ICP 5","icon":"dashboard","disabled":false,"hidden":false}]